{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Say::Project - Say it for MORE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'boards/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'boards/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'boards/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container">
            <div>
                <nav class="bar bar-toggle">
                    <div class="container">
                        <div class="row align-items-center">
                            <div style="padding-left: 2em" class="col-6">
                                <div class="bar__module">
                                    <a href="{% url 'boards:board_index' %}"> <img class="logo logo-dark" alt="logo" src="{% static 'boards/img/logo-dark.png' %}"> <img class="logo logo-light" alt="logo" src="{% static 'boards/img/logo-light.png' %}"> </a>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <div class="bar__module">
                                    <a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu"> <i class="stack-interface stack-menu"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu" data-animation="from-right">
                    <div class="side-menu__module pos-vertical-center text-right">
                        {% include 'boards/board_navigation.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <section>
                <div class="container">
                    {% if error_message %}
                        <div class="alert bg--error col-12 text-center">
                            <b>{{ error_message }}</b>
                        </div>
                    {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-10">
                            <article>
                                <div class="article__title text-center">
                                    <h1 class="h2">{{ article_detail.title }}</h1>{{ article_detail.created_at|date:"Y M d D" }}
                                    <br><br>
                                    <div class="text-center card__action">
                                        <h3 class="h3">
                                            {{ article_detail.writer.username }}
                                        </h3>
                                    </div>
                                    <div class="text-center card__action">
                                        <ul class="social-list list-inline">
                                            <li>
                                                <form action="{% url 'boards:board_vote' article_detail.id %}" method="post">
                                                    {% csrf_token %}
                                                  <button type="submit" name="vote" value="up" class="btn alert alert-light border-0 text-center">
                                                    <p class="col-12" >
                                                        <i class="material-icons" style="font-size:1.2em; color: #ff9a9a; vertical-align: middle">thumb_up</i>
                                                        <strong style="font-size:1.2em; vertical-align: middle">{{ article_detail.upvote }}</strong>
                                                    </p>
                                                  </button>
                                                </form>
                                            </li>
                                            <li>
                                                <form action="#" method="post">
                                                    {% csrf_token %}
                                                  <button type="submit" class="btn alert alert-light text-center border-0">
                                                      <p class="col-12">
                                                      <i class="material-icons" style="font-size:1.2em;  color: #767676; vertical-align: middle">comment</i>
                                                        <strong style="font-size:1.2em; vertical-align: middle">{{ article_detail.comment_count }}</strong>
                                                      </p>
                                                  </button>
                                                </form>
                                            </li>
{#                                            <li><a href="{% url 'boards:board_vote' article_detail.id %}?vote=up"><i class="material-icons">thumb_up</i></a><p class="pos-vertical-center"><b>{{ article_detail.upvote }}</b> Likes</p></li>#}
{#                                            <li><a href="#"><i class="material-icons">comment</i></a><p class="pos-vertical-center"><b>{{ article_detail.comment_count }}</b> Comment</p></li>#}
                                        </ul>
                                    </div>

                                </div>
                                {% if user == article_detail.writer %}
                                    <div class="article__title text-right">
                                        회원님이 작성하신 글입니다 <br>
                                        <div>
                                            <a href="{% url 'boards:board_edit' article_detail.id %}">Edit</a>
                                            <a href="{% url 'boards:board_delete' article_detail.id %}">Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="article__body">
                                    {{ article_detail.article_text|safe }}
                                </div>

                                <div class="article__share text-center">
                                    <ul class="social-list list-inline">
                                        <li>
                                            <a href="{% url 'boards:board_vote' article_detail.id %}?vote=up">
                                                <i class="material-icons color--dark">check</i>
                                                <p>Like!</p>
                                            </a>
                                        </li>
                                        <li></li>
{#                                        <li>#}
{#                                            <a href="{% url 'boards:board_vote' article_detail.id %}?vote=down">#}
{#                                                <i class="material-icons color--dark">loupe</i>#}
{#                                            </a>#}
{#                                            <p>Check</p>#}
{#                                        </li>#}
                                    </ul>
                                </div>


{#                                <div class="article__share text-center hidden-xs">#}
                                {#                                    <a class="btn bg--primary col-md-3" href="{% url 'boards:board_vote' article_detail.id %}?vote=up">#}
                                {#                                        <i class="material-icons">check</i>#}
                                {#                                    </a>#}
                                {#                                    <a class="btn bg--secondary col-md-3" href="{% url 'boards:board_vote' article_detail.id %}?vote=down">#}
                                {#                                        <i class="material-icons">loupe</i>#}
                                {#                                    </a>#}
                                {#                                    <div class="btn bg--primary btn--icon col-md-3">#}
                                {#                                        <a  href="{% url 'boards:board_vote' article_detail.id %}?vote=up">#}
                                {#                                            <span class="btn__text">#}
                                {#                                                <i class="material-icons">check</i>#}
                                {#                                                LIKE!#}
                                {#                                            </span>#}
                                {#                                        </a>#}
                                {#                                    </div>#}
                                {#                                    <div class="btn bg--secondary btn--icon col-md-3">#}
                                {#                                        <a href="{% url 'boards:board_vote' article_detail.id %}?vote=down">#}
                                {#                                            <span class="btn__text">#}
                                {#                                                <i class="material-icons">loupe</i>#}
                                {#                                                CHECK!#}
                                {#                                            </span>#}
                                {#                                        </a>#}
                                {#                                    </div>#}

                                {#                        </div>#}

                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <div class="comments">
                                <h3>{{ comment_list.count }} Comments</h3>
                                <ul class="comments__list">
                                    {% for comment in comment_list %}
                                        {% if comment.activated %}
                                            <li>
                                            <div class="comment">
{#                                                <div class="comment__avatar"> <img alt="Image" src="{% static 'boards/img/avatar-round-1.png' %}"> </div>#}
                                                <div class="comment__body">
                                                    <h5 class="type--fine-print">{{ comment.writer }}</h5>
                                                    <div class="comment__meta"> <span>{{ comment.created_at|date:'Y M d D H:i' }}</span>
{#                                                        <a href="{% url 'boards:board_comment_vote' comment.id %}?vote=up">#}
{#                                                            <i style="color: #ff9999;" class="card__action material-icons icon icon--xs">favorite</i>#}
{#                                                            <span>{{ comment.upvote }}</span>#}
{#                                                        </a>#}
{#                                                        <a href="{% url 'boards:board_comment_vote' comment.id %}?vote=down">#}
{#                                                            <i style="color: #888888" class="color--dark material-icons icon icon--xs">thumb_down</i>#}
{#                                                            <span>{{ comment.downvote }}</span>#}
{#                                                        </a>#}
                                                        {% if user == comment.writer %}
                                                            <a href="{% url 'boards:board_comment_delete' comment.id %}">Delete</a>
                                                        {% endif %}

                                                    </div>
                                                    {{ comment.comment_text }}
                                                </div>
                                            <div >

                                                                <form action="{% url 'boards:board_comment_vote' comment.id %}" method="post" class="col-6" style="float: right;">
                                                                    {% csrf_token %}
                                                                  <button style="margin-bottom: 0px; margin-top: 2px; float: right; margin-left: 10px;"
                                                                          type="submit" name="vote" value="down" class="btn alert border-0 col-4 col-md-3">
                                                                      <i class="material-icons" style="font-size:1.1em; color: #767676; vertical-align: middle">thumb_down</i>&ensp;
                                                                      <strong style="font-size: 1.15em; color: #767676; vertical-align: middle">{{ comment.downvote }}</strong>
                                                                  </button>
                                                                  <button style="margin-bottom: 0px; margin-top: 2px; float: right"
                                                                          type="submit" name="vote" value="up" class="btn alert border-0 alert-danger col-4 col-md-3">
                                                                      <i class="material-icons" style="font-size:1.1em; color: #ff9999; vertical-align: middle">favorite</i>&ensp;
                                                                      <strong style="font-size: 1.15em; color: #767676; vertical-align: middle">{{ comment.upvote }}</strong>
                                                                  </button>
                                                                </form>
                                            </div>
                                            </div>
                                            {#                                        <div class="comment">#}
                                            {#                                            <div class="comment__avatar"> <img alt="Image" src="img/avatar-round-3.png"> </div>#}
                                            {#                                            <div class="comment__body">#}
                                            {#                                                <h5 class="type--fine-print">Jacob Sims</h5>#}
                                            {#                                                <div class="comment__meta"> <span>10th May 2016</span><a href="#">Reply</a> </div>#}
                                            {#                                                <p> Prototype intuitive intuitive thought leader personas parallax paradigm long shadow engaging unicorn SpaceTeam fund ideate paradigm. </p>#}
                                            {#                                            </div>#}
                                            {#                                        </div>#}
                                        </li>
                                        {% else %}
                                            <li>
                                            <div class="comment">
                                                <div class="comment__body">
                                                    <div class="align-content-center">
                                                        <p>
                                                            삭제된 댓글입니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="comments-form">
                                <h4>Leave a comment</h4>
                                <form class="row" action="{% url 'boards:board_comment_write' %}" method="post">
                                    {% csrf_token %}
                                    {#                                    <div class="col-md-6"> <label>Your Name:</label> <input type="text" name="Name" placeholder="Type name here"> </div>#}
                                    {#                                    <div class="col-md-6"> <label>Email Address:</label> <input type="email" name="email" placeholder="you@mailprovider.com"> </div>#}
                                    <div class="col-md-12">
                                        <label>Comment:</label>
                                        <textarea rows="4" name="comment_text"></textarea>
                                    </div>
                                    <div class="col-md-3"> <button class="btn btn--primary" type="submit">Submit Comment</button> </div>
                                    <input type="hidden" name="article_id" value="{{ article_detail.id }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-7 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year"></span> Say::Project — All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="{% static 'boards/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'boards/js/parallax.js' %}"></script>
        <script src="{% static 'boards/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'boards/js/scripts.js' %}"></script>

    </body>

</html>