<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blue Board</title>
</head>
<body>

{% if user.is_authenticated %}
    <p>
        안녕하세요! {{ user.username }} 님!
    </p>
    <a href="{% url 'boards:board_logout'%}">
        Logout
    </a>
{% else %}
    <a href="{% url 'boards:board_login' %}">Login</a>
{% endif %}


<h2>Article List</h2>

<ul>
    {% for article in article_list %}
    <li>
        <a href="{% url 'boards:board_detail' article.id %}">
            {{ article.title }}
        </a>
        <p>
            {{ article.writer.username }}
        </p>

        {% if user == article.writer %}
        <form action="{% url 'boards:board_edit' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <button>
                수정
            </button>
        </form>
        <form action="{% url 'boards:board_delete' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <button>
                삭제
            </button>
        </form>
        {% endif %}


        <p>
            {{ article.created_at }}
        </p>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'boards:board_write' %}">글쓰기</a>

</body>
</html>