{% load el_pagination_tags %}

{% paginate 8 article_list %}
{#{% for img_fetch in article_list %}#}
{#                                    <script>#}
{#                                        var img = new Image();#}
{#                                        img.onload = function() { mr.masonry.updateLayout(); };#}
{#                                        img.src = "{{ img_fetch.image }}"#}
{#                                    </script>#}
{#{% endfor %}#}
{% for article in article_list %}
                                <div class="col-6 col-md-3 masonry__item">
                                    <article class="feature feature-1">
                                        {% if article.image %}
                                            {% if article.upvote > 10 %}
                                                <a href="{% url 'boards:board_detail' article.id %}" class="block title_img_top">
                                                    <div class="title_img_centered_text">
                                                        {{ article.title | truncatechars:25 }}
                                                    </div>
                                                    <img alt="Image" src="{{ article.image }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'boards:board_detail' article.id %}" class="block title_img">
                                                    <div class="title_img_centered_text">
                                                        {{ article.title | truncatechars:25 }}
                                                    </div>
                                                    <img alt="Image" src="{{ article.image }}">
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            {% if article.upvote > 10 %}
                                                <div class="title_img_text_only">
                                                <a href="{% url 'boards:board_detail' article.id %}">
                                                    <div class="title_img_centered_text_text_only">
                                                        {{ article.title | truncatechars:40 }}
                                                    </div>
                                                </a>
                                                </div>
                                            {% else %}
                                                <div class="title_img_text_only">
                                                <a href="{% url 'boards:board_detail' article.id %}">
                                                    <div class="title_img_centered_text_text_only">
                                                        {{ article.title | truncatechars:40 }}
                                                    </div>
                                                </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="feature__body boxed card">
                                            {#                                            <div class="card__body">#}
                                            {#                                                <span>{{ article.created_at|date:"y/m/d" }}</span>#}
                                            {#                                                <a href="{% url 'boards:board_detail' article.id %}">#}
                                            {#                                                    <h5>{{ article.title|striptags|truncatechars:50 }}</h5>#}
                                            {#                                                </a>#}
                                            {#                                            </div>#}
                                            <div class="card__bottom text-center">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <div style="font-size: 0.9em;" class="card__action">
                                                            <a href="#"> <i style="color: #ff5e5e;" class="material-icons">favorite</i> <span>{{ article.upvote }}</span> </a>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <div style="font-size: 0.9em;" class="card__action">
                                                            <a href="#"> <i class="material-icons">comment</i> <span>{{ article.comment_count }}</span> </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                                    <script>
                                        mr.masonry.updateLayout();
                                    </script>
{% show_more %}