{% load el_pagination_tags %}

{% paginate 20 boards_activated_highest %}
{#{% for img_fetch in article_list %}#}
{#                                    <script>#}
{#                                        var img = new Image();#}
{#                                        img.onload = function() { mr.masonry.updateLayout(); };#}
{#                                        img.src = "{{ img_fetch.image }}"#}
{#                                    </script>#}
{#{% endfor %}#}
{% for board in boards_activated_highest %}
                                <div style="padding: 2em" class="col-6 col-md-4 masonry__item ">
                                    <article class="feature feature-1">
                                        {% if board.image_file %}
                                            {% if board.points > 100 %}
                                                <a {% if board.has_lower_board %}
                                                        style="box-shadow: 0.7em 0.7em #ff5e5e, 1.4em 1.4em #ffaeae;"
                                                    {% endif %}
                                                   href="{% url 'boards:board_detail' board.id %}" class="block title_img_top">
                                                    <div class="title_img_centered_text">
                                                        {{ board.name | truncatechars:25 }}
                                                    </div>
                                                    <img alt="Image" src="http://thl1110.jpg2.kr/{{ board.image_file.file }}">
                                                </a>
                                            {% else %}
                                                <div style="width: 100%">
                                                <a {% if board.has_lower_board %}
                                                        style="box-shadow: 0.7em 0.7em #ff5e5e, 1.4em 1.4em #ffaeae;"
                                                    {% endif %}
                                                        href="{% url 'boards:board_detail' board.id %}" class="block title_img">
                                                    <div class="title_img_centered_text">
                                                        {{ board.name | truncatechars:25 }}
                                                    </div>
                                                    <img alt="Image" src="http://thl1110.jpg2.kr/{{ board.image_file.file }}">
                                                </a>

                                                </div>
                                            {% endif %}
                                            <script>
                                                var img = new Image();
                                                img.onload = function() { mr.masonry.updateLayout(); };
                                                img.src = "http://thl1110.jpg2.kr/{{ board.image_file.file }}"
                                            </script>
                                        {% else %}
                                            {% if board.upvote > 10 %}
                                                <div  {% if board.has_lower_board %}
                                                        style="box-shadow: 0.7em 0.7em #ff5e5e, 1.4em 1.4em #ffaeae;"
                                                    {% endif %}
                                                        class="title_img_text_only">
                                                <a href="{% url 'boards:board_detail' board.id %}">
                                                    <div class="title_img_centered_text_text_only">
                                                        {{ board.name | truncatechars:40 }}
                                                    </div>
                                                </a>
                                                </div>
                                            {% else %}
                                                <div {% if board.has_lower_board %}
                                                        style="box-shadow: 0.7em 0.7em #ff5e5e, 1.4em 1.4em #ffaeae;"
                                                    {% endif %}
                                                        class="title_img_text_only">
                                                <a href="{% url 'boards:board_detail' board.id %}">
                                                    <div class="title_img_centered_text_text_only">
                                                        {{ board.name | truncatechars:40 }}
                                                    </div>
                                                </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div style="margin-top: 1.5em" class="feature__body boxed card">
                                            {#                                            <div class="card__body">#}
                                            {#                                                <span>{{ article.created_at|date:"y/m/d" }}</span>#}
                                            {#                                                <a href="{% url 'boards:board_detail' article.id %}">#}
                                            {#                                                    <h5>{{ article.title|striptags|truncatechars:50 }}</h5>#}
                                            {#                                                </a>#}
                                            {#                                            </div>#}
                                            <div class="card__bottom text-center">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <div style="font-size: 0.9em;" class="card__action">
                                                            <a href="#"> <i style="color: #ff5e5e;" class="material-icons">favorite</i>
                                                                <span>{{ board.points }}</span> </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                                    <script>
                                        mr.masonry.updateLayout();
                                    </script>
{% show_more %}