<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

{% if error_message %}
<p>{{ error_message }}</p><br>
{% endif %}
<form action="{% url 'boards:board_register' %}" method="post">
    {% csrf_token %}
    <label for="username">username</label>
    <input type="text" name="username"><br>

    <label for="email">email</label>
    <input type="email" name="email"><br>

    <label for="password">password</label>
    <input type="password" name="password"><br>

    <label for="">password</label>
    <input type="password" name="password"><br>

    <label for="first_name">first_name</label>
    <input type="text" name="first_name"><br>

    <label for="last_name">last_name</label>
    <input type="text" name="last_name"><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>