                <div class="container" style="font-size: 1.3em">
                    <div class="row justify-content-center">
                        <button  style="padding: 0px; margin: 0px; margin-top: auto; margin-left: 3em; margin-right: 3em" onclick="window.location.href='{% url 'boards:board_create_project_page' %}'"
                                 class="btn col-4 col-xs-12">
                                Create Project
                        </button>
                    </div>
                    <br><br><br><br>
                    <div class="row">
                        {% for highest in boards_activated_highest %}
                            <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                                <a href="#{# highest board link #}" style="text-decoration: none">
                                    <h4 class="type--uppercase">{{ highest.name }}</h4>
                                </a>
                                <ul class="list--hover">
                                    {% for under_board in highest.higher_board_related.all %}
                                        <li>
                                            <a href="#">{{ under_board.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>