                <div class="container" style="font-size: 1.3em">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Company</h6>
                            <ul class="list--hover">
                                <li><a href="#">About Company</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Work With Us</a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Developers</h6>
                            <ul class="list--hover">
                                <li><a href="#">Developer Center</a></li>
                                <li><a href="#">API Reference</a></li>
                                <li><a href="#">Downloads</a></li>
                                <li><a href="#">Tools</a></li>
                                <li><a href="#">Developer Blog</a></li>
                                <li><a href="#">Developer Forums</a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Support</h6>
                            <ul class="list--hover">
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Live Chat</a></li>
                                <li><a href="#">Downloads</a></li>
                                <li><a href="#">Press Kit</a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Locations</h6>
                            <ul class="list--hover">
                                <li><a href="#">Melbourne</a></li>
                                <li><a href="#">London</a></li>
                                <li><a href="#">New York</a></li>
                                <li><a href="#">San Francisco</a></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Company</h6>
                            <ul class="list--hover">
                                <li><a href="#">About Company</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Work With Us</a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Developers</h6>
                            <ul class="list--hover">
                                <li><a href="#">Developer Center</a></li>
                                <li><a href="#">API Reference</a></li>
                                <li><a href="#">Downloads</a></li>
                                <li><a href="#">Tools</a></li>
                                <li><a href="#">Developer Blog</a></li>
                                <li><a href="#">Developer Forums</a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Support</h6>
                            <ul class="list--hover">
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Live Chat</a></li>
                                <li><a href="#">Downloads</a></li>
                                <li><a href="#">Press Kit</a></li>
                            </ul>
                            <br>
                        </div>
                        <div class="col-sm-6 col-md-3 col-xs-6 col-12 text-center" style="padding: 0px">
                            <h6 class="type--uppercase">Locations</h6>
                            <ul class="list--hover">
                                <li><a href="#">Melbourne</a></li>
                                <li><a href="#">London</a></li>
                                <li><a href="#">New York</a></li>
                                <li><a href="#">San Francisco</a></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>