{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Say::Project - Say it for MORE</title>
        <link rel="icon" href="{% static 'boards/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'boards/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'boards/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'boards/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container">
            <div>
                <nav class="bar bar-toggle">
                    <div class="container">
                        <div class="row align-items-center">
                            <div style="padding-left: 2em" class="col-6">
                                <div class="bar__module">
                                    <a href="{% url 'boards:board_index' %}"> <img class="logo logo-dark" alt="logo" src="{% static 'boards/img/logo-dark.png' %}"> <img class="logo logo-light" alt="logo" src="{% static 'boards/img/logo-light.png' %}"> </a>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <div class="bar__module">
                                    <a class="menu-toggle pull-right" href="#" data-notification-link="sidebar-menu"> <i class="stack-interface stack-menu"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="sidebar-menu" data-animation="from-right">
                    <div class="side-menu__module pos-vertical-center text-right">
                        {% include 'boards/board_navigation.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <section>
                <div class="container">

                {# top article end #}
                    <div class="masonry"><div class="row text-block">
                            {% if error_message %}
                            <div class="alert bg--error col-12 text-center">
                                <b>{{ error_message }}</b>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row text-block">
                            <div class="col-md-12 text-center">
                                <h2>Main Project</h2>
                            </div>
                        </div>
                        <div class="masonry__container row masonry--active md d-block d-sm-block">
                        {% for article in article_list_top %}
                                <div class="col-6 col-md-3 masonry__item">
                                    <article class="feature feature-1">
                                        {% if article.image %}
                                            {% if forloop.counter < 5 %}
                                                <a href="{% url 'boards:board_detail' article.id %}" class="block title_img_top">
                                                    <div class="title_img_centered_text">{{ article.title }}</div>
                                                    <img alt="Image" src="{{ article.image }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'boards:board_detail' article.id %}" class="block title_img">
                                                    <div class="title_img_centered_text">{{ article.title }}</div>
                                                    <img alt="Image" src="{{ article.image }}">
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            {% if forloop.counter < 5 %}
                                                <div class="title_img_text_only_top">
                                                <a href="{% url 'boards:board_detail' article.id %}">
                                                    <div class="title_img_centered_text">
                                                        {{ article.title | truncatechars:40 }}
                                                    </div>
                                                </a>
                                                </div>
                                            {% else %}
                                                <div class="title_img_text_only">
                                                <a href="{% url 'boards:board_detail' article.id %}">
                                                    <div class="title_img_centered_text">
                                                        {{ article.title | truncatechars:40 }}
                                                    </div>
                                                </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="feature__body boxed card">
                                            <div class="card__bottom text-center">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <div style="font-size: 0.9em;" class="card__action">
                                                            <a href="#"> <i style="color: #ff5e5e;" class="material-icons">favorite</i> <span>{{ article.upvote }}</span> </a>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <div style="font-size: 0.9em;" class="card__action">
                                                            <a href="#"> <i class="material-icons">comment</i> <span>{{ article.comment_count }}</span> </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                            {% include 'boards/board_index_fragment.html' %}
                            {% block js %}
                                <script src="http://code.jquery.com/jquery-latest.js"></script>
                                <script src="{% static 'boards/js/el-pagination.js' %}"></script>
                                <script>
                                    $.endlessPaginate({paginateOnScroll: true,
                                                       paginateOnScrollMargin: 500,
                                                        });
                                    $.endlessPaginate({paginateOnScrollMargin: 400});
                                    $.endlessPaginate({paginateOnScrollMargin: 300});
                                    $.endlessPaginate({paginateOnScrollMargin: 200});
                                    $.endlessPaginate({paginateOnScrollMargin: 100});
                                    mr.masonry.updateLayout();
                                </script>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        <div class="main-container">
            <footer class="footer-7 text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year"></span> Say::Project — All Rights Reserved</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline">
                                <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                                <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="{% static 'boards/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'boards/js/parallax.js' %}"></script>
        <script src="{% static 'boards/js/isotope.min.js' %}"></script>
        <script src="{% static 'boards/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'boards/js/scripts.js' %}"></script>

    </body>

</html>