{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Say::Project - Say it for MORE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'boards/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'boards/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
            <section class="height-100 text-center">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-7 col-lg-5">
                            <a href="{% url 'boards:board_index' %}">
                                <img src="{% static 'boards/img/logo-dark.png' %}" alt="Say::Project">
                            </a>
                            <p class="lead">Say it for more</p>
                            {% if error_message %}
                                <div class="alert bg--error col-12">
                                    {{ error_message }}
                                </div>
                            {% endif %}
                            <form action="{% url 'boards:board_login' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12"> <input type="text" name="username" placeholder="Username"> </div>
                                    <div class="col-md-12"> <input type="password" name="password" placeholder="Password"> </div>
                                    <div class="col-md-12"> <button class="btn btn--primary type--uppercase" type="submit">Login</button> </div>
                                </div>
                            </form> <span class="type--fine-print block">Dont have an account yet? <a href="{% url 'boards:board_register' %}">Create account</a></span> <span class="type--fine-print block">Forgot your username or password? <a href="page-accounts-recover.html">Recover account</a></span> </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="{% static 'boards/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'boards/js/parallax.js' %}"></script>
        <script src="{% static 'boards/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'boards/js/scripts.js' %}"></script>

    </body>

</html>