/*! Place your custom styles here */

.article__body {
    font-size: 1.15714286em;
}

.feature-1 > a.block img {
    border-radius: 9px;
}

.masonry__item:not(:empty) {
    margin-bottom: 0px;
    transform-style: preserve-3d;
}

.col-6, .col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }


.col-6, .col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px; }

@media all and (max-width: 767px) {
    .boxed {
        padding: 0.93809524em;
        margin-bottom: 0px;
    }
}

@media all and (max-width: 767px) {
  .card .list-inline:not(.social-list) li:not(:first-child) {
    margin-left: 0.62857143em;
  }
}

@media all and (max-width: 767px) {
  .list-inline:not(.social-list):not(.list-inline--images) li:not(:last-child) {
    margin-bottom: 0em;
  }
}

.boxed {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  margin-bottom: 0px;
}

@media all and (max-width: 767px) {
    section,
    footer,
    section.section--even {
        padding: 1.57142857em 0;
    }
}

.masonry__container {
    margin-left:-7px;
    margin-right:-7px;
}

.list-inline li:not(:last-child) {
  margin-right: 0.45714286em;
}

.title_img_centered_text {
    color: white;
    font-size: 1.35em;
    font-family: "Do Hyeon";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 2px black;
}

.title_img_centered_text_text_only {
    color: #787878;
    font-size: 1.3em;
    font-family: "Do Hyeon";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*text-shadow: 0px 0px 2px white;*/
}

.title_img {
  position: relative;
  text-align: center;
  color: white;
  display: block;
    overflow: hidden;
    max-height: 500px;
}

.title_img_top {
  position: relative;
  text-align: center;
  color: white;
  display: block;
    overflow: hidden;
    max-height: 500px;
  /*border: 3px solid #ffaaaa;*/
  /*border-radius: 12px;*/
}

.title_img_text_only {
  position: relative;
  text-align: center;
  color: black;
  display: block;
  overflow: hidden;
  min-height: 200px;
  border: 2px solid lightgrey;
  border-radius: 12px;
}

.title_img_text_only_top {
  position: relative;
  text-align: center;
  color: black;
  display: block;
  overflow: hidden;
  min-height: 200px;
  /*border: 3px solid #ffaaaa;*/
  /*border-radius: 12px;*/
}

.endless_container {
    visibility: hidden;
}

.comment .comment_footer{
    width: 100%;
}

.comment .comment_footer form .btn{
    vertical-align: middle;
}

.dh_font {
    font-family: "Do Hyeon";
    font-size: 1.5em;
}

.dropdown__trigger {
    font-size: 2em;
}