/*! Place your custom styles here */

.article__body {
    font-size: 1.15714286em;
}

.feature-1 > a.block img {
    border-radius: 9px;
}

.masonry__item:not(:empty) {
    margin-bottom: 0px;
    transform-style: preserve-3d;
}

.col-6, .col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }


.col-6, .col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px; }

@media all and (max-width: 767px) {
    .boxed {
        padding: 0.93809524em;
        margin-bottom: 0px;
    }
}

@media all and (max-width: 767px) {
  .card .list-inline:not(.social-list) li:not(:first-child) {
    margin-left: 0.62857143em;
  }
}

@media all and (max-width: 767px) {
  .list-inline:not(.social-list):not(.list-inline--images) li:not(:last-child) {
    margin-bottom: 0em;
  }
}

.boxed {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  margin-bottom: 0px;
}

@media all and (max-width: 767px) {
    section,
    footer,
    section.section--even {
        padding: 1.57142857em 0;
    }
}

.masonry__container {
    margin-left:-7px;
    margin-right:-7px;
}

.list-inline li:not(:last-child) {
  margin-right: 0.45714286em;
}

.card__action a i {
  color: #252525;
  font-size: 1em;
}