/*! Place your custom styles here */

.article__body {
    font-size: 1.15714286em;
}

.feature-1 > a.block img {
    border-radius: 6px;
}

.masonry__item:not(:empty) {
    margin-bottom: 0px;
    transform-style: preserve-3d;
}

.col-6, .col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }


.col-6, .col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }

@media all and (max-width: 767px) {
    .boxed {
        padding: 0.93809524em;
        margin-bottom: 0px;
    }
}

@media all and (max-width: 767px) {
  .list-inline:not(.social-list):not(.list-inline--images) li:not(:last-child) {
    margin-bottom: 0em;
  }
}

.boxed {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  margin-bottom: 0px;
}

@media all and (max-width: 767px) {
    section,
    footer,
    section.section--even {
        padding: 1.57142857em 0;
    }
}

.masonry__container {
    margin-left:-10px;
    margin-right:-10px;
}
