<!DOCTYPE html>
<html lang="ko" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Poster</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <link rel="stylesheet" href="{% static 'todaycomment/css/style.css' %}">
    <script>
    function resize(obj) {
      obj.style.height = "1px";
      obj.style.height = (12+obj.scrollHeight)+"px";
    }
    </script>
</head>

<body>

 <div id="pagewrap">
  <form class="frm" action="{% url 'todaycomment:com_post' %}" method="post">
   {% csrf_token %}
      <div class="paper">
          <div class="paper-content">
            <textarea name="comment_text" autofocus placeholder="오늘 하루&#10;안녕하셨나요?"></textarea>
          </div>
      </div>
       <div class="submit-button">
         <button type="submit" id="submit">post</button>
       </div>
  </form>

  <div class="feeds">
   <ul id="comments">
    {% for list in comment_list %}
        <li>{{ list.comment_text|linebreaks }}</li>
        <form action="">
        {% csrf_token %}
            <button type="submit" id="submit">수정</button>
        </form>
        <form action="{% url 'todaycomment:com_delete' %}" method="post">
        {% csrf_token %}
            <button type="submit" value="{{ list.id }}" name="comment_del">삭제</button>
        </form>
    {% endfor %}
    <li>Let's get farted!</li>
   </ul>
  </div>
 </div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

</body>

</html>
